/* FONTS */ 

/* roboto-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/roboto-v30-latin-500.woff2') format('woff2'); 
  }
  
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/roboto-v30-latin-700.woff2') format('woff2'); 
  }
  
  /* roboto-900 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/roboto-v30-latin-900.woff2') format('woff2'); 
  }

/* -----------------------------------------------------------------------------------*/


/* COLOR VARIABLES */
:root {
    --form-color: #5222a0;
    --focus-color: #fdcda7;
    --correct-color: rgb(0, 255, 0);
    --wrong-color: rgb(255, 2, 2);
    --link-color: #00ccff;
}
/* ----------------*/


/* BASIC STRUCTURE */
body {
    display: flex;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #fff;

}

.left-area {
    width: 35vw;
    height: 100vh; 
    background-image: url(./images/silas-van-overeem-7ga11BHwXHY-unsplash.jpg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.left-area p {
    background-color: #0000006b;
    width: 100%;
    text-align: center;

    padding: 3px 0;
}

.colored-link {
    text-decoration: none;
    color: var(--link-color);
}

.colored-link:hover {
    text-decoration: underline;
}


.right-area {
    width: 65vw; /* Use viewport width instead of rem */
    height: 100vh; /* Use viewport height instead of rem */
    background-color: #202020;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top, .bottom {
    width: 100%;
    height: 20%;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top h1 {
    font-size: 2.2em;
    text-align: center;
    padding: 10px;

}

.top h1 span {
    margin: 0;
    color: var(--focus-color);
}

/* GITHUB AND ODIN LINKS */

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.bottom-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 100%;
}

.bottom-link > p {
    height: 20px;
    margin-bottom: -20px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-self: center;
}

.footers-container {
    border-radius: 10px;
    background-color: #131313;
    box-shadow:  5px 5px 0px var(--focus-color);


    padding: 10px 5px;
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-weight: 900;
    text-decoration: none;

    transition: all 0.3s, box-shadow 1s;
}
.footers-container:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 0px var(--link-color);
}

.footers-container img {
    height: 75%;
    padding-right: 10px;
}



/* --------------------------*/

/* FORM AREA */

@keyframes border-change {
    0% {
        border-top-color: var(--focus-color);
        border-bottom-color: var(--form-color);
    }
    50% {
        border-bottom-color: var(--focus-color);
        border-top-color: var(--form-color);
    }
    100% {
        border-top-color: var(--focus-color);
        border-bottom-color: var(--form-color);
    }
}

form  {
    height: 60%;
    width: 100%;

    background-color: #131313;
    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    animation: border-change 5s infinite linear;
}



form .line {
    width: 90%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1px;
}




/* FORM INPUTS CSS */ 

.input-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;
}

.input-holder div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
 }

svg {
    stroke: var(--form-color);
    
}

span {
    height: 20px;
    margin-left: calc(39px + 5%);
    margin-right: 5%;
    margin-top: 5px;
    
    align-self: flex-start;
}

.line input {
    color: white;
    font-size: 1.7em;
    background-color: #00000000;
    outline: none;

    
    width: 90%;

    margin-left: 15px;
    border: 0;
    border-bottom: 3px solid var(--form-color);
    transition: 0.5s linear;
}

::placeholder {
    color: var(--form-color);
    opacity: 1;
}


input.valid {
    border-color: var(--correct-color);
}
input.valid::placeholder {
    color: var(--correct-color);
}

input.invalid {
    border-color: var(--wrong-color);
}
input.invalid::placeholder {
    color: var(--wrong-color);
}

input.focused {
    outline: none;
    border-color: var(--focus-color);
}
input.focused::placeholder {
    color: var(--focus-color);
    opacity: 0.8;
}

input:disabled::placeholder {
    color: transparent;
}
input:disabled {
    border-color: gray;
    background-color: gray;

    border-radius: 5px;
}

/* ------------------- */ 

button {
    font-size: 1.2em;
    color: #fff;
    font-weight: 700;

    width: 170px;
    height: 55px;

    border: 0px;
    box-shadow:  5px 5px 0px var(--focus-color);
    background-color: var(--form-color);
    border-radius: 5px;

    transition: all 0.2s ease-in, box-shadow 0.5s linear, background 0.5s linear;
    cursor: pointer;
}

button:hover {
    transform: scale(1.09);
    background-color: var(--focus-color);
    box-shadow: 5px 5px 0px var(--form-color);

}



/* AAAAAAAAAAAAAAAAAAAAAAAAA */

@media (max-width: 1400px) {
    .input-holder {
        width: 50%;
    }

}

@media (max-width: 958px) {
    body {
        font-size: 14px
    };

    .left-area {
        display: none;
    }
    .right-area {
        width: 100%;
    }

    .bottom-link {
        width: 40%;
    }

    .top h1 {
        font-size: 2em;
    }

}